# Django
DEBUG=False
SECRET_KEY=***a_remplir_par_IT***
# mettre domaine/IP internes, p.ex. rb-exchange.intranet ou 10.0.0.15
ALLOWED_HOSTS=rb-exchange.intranet,10.0.0.15

# Base de données (fournie par l'IT)
DB_NAME=VF
DB_USER=API_User
DB_PASSWORD=***prod***
DB_HOST=postgres.internal
DB_PORT=5432

# Celery/Redis
# Si vous gardez le Redis du docker-compose, utilisez l'URL ci-dessous :
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
# Si vous avez un Redis corporate, remplacez par son URL et supprimez le service "redis" du compose.

# JWT (si nécessaire)
JWT_SECRET=***optionnel***
JWT_ACCESS_LIFETIME=30
JWT_REFRESH_LIFETIME=1

# Clés scraping (optionnel)
SCRAPER_API_KEY=***a_remplir_par_IT*** 
#faire un compte car la source banque algerie cause de probleme en scrappant sans un apiscrapper (bloque l@ ip hote)
