{% extends "base.html" %}

{% block content %}
{% csrf_token %}

<div class="space-y-6">

    <div class="flex flex-wrap gap-4 items-center">
        <button 
            hx-get="{% url 'superadmin_add_admin_view' %}" 
            hx-target="#modal-container" 
            class="bg-[#a6183b] hover:bg-[#e61a3d] text-white px-4 py-2 rounded-xl shadow transition">
            + Créer Admin
        </button>
        <button 
            hx-get="{% url 'superadmin_add_consumer_view' %}"
            hx-target="#modal-container"
            class="bg-[#a6183b] hover:bg-[#e61a3d] text-white px-4 py-2 rounded-xl shadow transition">
            + Ajouter Système Interne
        </button>
    </div>

    <div id="dashboard-dynamic-content">
        {% include "superadmin/partials/dashboard_content.html" %}
    </div>
    
</div>
{% endblock %}